<div class="banner" id="contact">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Задать вопрос</h2>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="name">Ваше имя</label><input type="text"
                class="form-control" id="name">
                <label for="email">e-mail</label><input type="text"
                class="form-control" id="email">
                <label for="phone">Телефон для связи</label><input type="text"
                class="form-control" id="phone">
                <label for="question">Что вас интересует?</label>
  <textarea class="form-control" rows="5" id="question"></textarea>
                <span id="sendQuestion" class="btn btn-default btn-lg spacer">Отправить</span>
              </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->
